* {
    box-sizing: border-box;
}

body {
    background-color: rgba(10, 10, 10, 0.8);
    display: grid;
    place-items: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    border: 10px solid lightgray;
    border-radius: 4px;
    max-height: 500px;
    background-color: lightgray;
    min-width: 350px;
}

.resultbar {
    height: 100px;
    background-color: hsla(130, 90%, 80%, 0.2);
    border: 3px solid green;
    border-radius: 4px;
    margin-bottom: 5px;
    display: grid;
    gap: 0rem;
    grid-template-rows: repeat(2, 1fr);
}

.calcbuttons {
    margin: 0px;
    padding: 0px;
    display: grid;
    gap: 0.3rem;
    grid-template-columns: repeat(4, 1fr);
}

input, button {
    background-color: rgba(50, 110, 170, 0.8);
    min-height: 50px;
    min-width: 80px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.equal {
    grid-column: span 2;
    min-width: 167px;
    background-color: hsla(90, 60%, 30%, 0.9);
    font-weight: 700;
}

.allclear {
    background-color: hsla(350, 60%, 70%, 0.7);
    font-weight: 700;
}

.delete {
    background-color: hsla(45, 75%, 50%, 0.7);
}

.float {
    font-weight: 700;
}



